.body {
  background-color: hsl(2, 57%, 40%);
  background-image:
  font-family: Helvetica;
}

.h1 {
  color: white;
}

p{

}

span {
  font-size: 20px;
  color: white;
  margin: 10px 0;
}

.Fizz_buzz {
  background-color: white;
  border: 1px solid #cacaca;
  border-spacing: 1px 5px;
  border-radius: 20px; }

input[type="number"] {
    width: 300px;
}

.button[class="button"] {
  border-radius: 20px;
  background-color: hsl(2, 57%, 40%);
}

.button[class="button"]:hover{
  background: white;
  border: 1px solid #cacaca;
  color: hsl(2, 57%, 40%);
}

.button[class="button"]:focus{
  background: white;
  border: 1px solid #cacaca;
  color: hsl(2, 57%, 40%);
}
